
/* .password {
    height: 250px;
    padding-top: 10%;
    padding-left: 40%;
    padding-right: 40%;

    display: none;
}

.formgrp {
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(black, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

} */

.app-loading-icon {
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0%);
    transition: opacity 250ms, transform 250ms;
    z-index: 2;
    animation: 2s spin ease-in-out infinite;
    color: white;
    font-size: 2em;
    height: 100px;
    width: 100px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(720deg);
    }
  
    to {
      transform: rotate(1440deg);
    }
  }



.show {
    display: block;
    animation: fadeInDown 1s ease-in-out;
    /* animation: blink 2s ease-in-out infinite; */
    /* opacity: 1;
    transform: translateY(-10px); */
    /* filter: blur(8px);
    transform: scale(1.2); */
}



/* @keyframes blink {
    from, 25%, to {
      opacity: 1;
    }
    
    50% {
      opacity: 0;
    }
  } */

.content {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */

}


.bg-img {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
}

/* .bg-img>img {
    height: 100%;
    width: 100%;
} */

.bigContainer {
    /* position: absolute;
    top: 0%; */
    height: 100%;
    width: 100%;

}

.container1 {
    /* border: 2px solid black; */
    height: 400px;
    width: 100%;

}

.clock23 {
    color: #fff;
    font-size: 4rem;
    padding-top: 100px;
    padding-left: 110px;
    border: 7px solid red;
}

.blurBtn {
    width: 60px;
    height: 30px;
    display: inline-block;
    position: relative;
    z-index: 3;
    left: 7%;
    margin: 5px;
    overflow: hidden;
    background: transparent;

    font-family: Roboto, sans-serif;
    font-size: 10px;
    color: gray(245);
    text-shadow: 0px 0px 2px rgba(black, 0.1);
    text-decoration: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 13px;
    transition: all 0.3s ease;

}

/* .container1:hover .blurBtn {
    filter: blur(0px);
}

.container1 .blurBtn:hover {
    filter: blur(1px);
} */

.title {
    color: rgb(255, 255, 255);
    opacity: 0.9;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 400;
    padding-left: 146px;
}

.food {
    width: 100%;
    height: 260px;
    position: relative;
    margin: 10px 0 20px;
}

.card1-container {
    position: relative;
    width: 92%;
    padding-left: 80px;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card1-container::-webkit-scrollbar {
    display: none;
}

.card1 {
    position: relative;
    min-width: 300px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    /* overflow: hidden; */
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.card1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card1:hover {
    transform: translateY(-9px);
}

.card1:hover .card1-body {
    opacity: 1;
}

.card1-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.temperature {
    width: 100%;
    padding-left: 40px;
    position: relative;
    margin: 10px 0 20px;

}

.card-container {

    /* display: flex; */
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    padding-left: 0px;
    padding-right: 10px;
width: 86%;
    height: 200px;

}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {


    padding-left: 0px;
    /* padding-right: 15px; */
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
    margin: 5px;
    width: 150%;
    height: 150px;
    box-shadow: 2px 2px 4px rgba(black, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
   
}

.card-img-top{
    width: 100px;
}

.card-body{
   
    padding-top: 0.9%;
}

.card:hover {
    transform: translateY(-3px);
}

.card:hover .card-body {
    opacity: 1;
}

.temp {
    color: #fff;
    font-size: 0.3em;
    font-weight: 350;
    text-transform: capitalize;
    margin-top: 60%;
}

.day {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 0.2em;
}

.apps-list {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 10px 0 20px;
}

.card3-container {
    position: relative;
    width: 92%;
    padding-left: 80px;
    height: 178px;
    display: flex;
    
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card3-container::-webkit-scrollbar {
    display: none;
}

.card3 {
    position: relative;
    min-width: 300px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    /* overflow: hidden; */
    margin-right: 10px;
    /* transition: 0.5s; */
    filter: grayscale(70%);
    cursor: pointer;
}

.card3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card3:hover {
    transform: translateY(-5px);
    filter: grayscale(0%);
}

.card3:hover .card3-body {
    opacity: 1;

}

.card3-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
   
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    /* transition: 0.5s; */
}

.app {
    color: rgb(18, 159, 241);
    font-size: 0.3em;
    font-weight: 450;
    text-transform: uppercase;
    margin-top: 10%;

}

.descr {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 0.2em;
}

.movies-list {
    width: 100%;
    height: 434px;
    position: relative;
    margin: 10px 0 20px;
}

.card2-container {
    position: relative;
    width: 92%;
    padding-left: 80px;
    height: 410px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card2-container::-webkit-scrollbar {
    display: none;
}

.card2 {
    position: relative;
    min-width: 300px;
    width: 150px;
    height: 372px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.card2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card2:hover {
    transform: translateY(-5px);
}

.card2:hover .card2-body {
    opacity: 1;
}

.card2-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: #fff;
    font-size: 0.4em;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}

.des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 0.2em;
}